// Color variables
$mainColorPrimary: #bcff5e;
$mainColorSecondary: #064BB4;
$titleColor: #1C1C1E;
$primeryTextColor: #636366;


// Font variables

// $primeryFontFamily: 'Roboto', sans-serif;
// $secondaryFontFamily: 'Raleway', sans-serif;