<footer>
  <p>Bulking</p>
  <p>
    Get fit, stay healthy, and live life on their terms without fitness being an
    obstacle.
  </p>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Programs</a></li>
      <li><a href="">Membership</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About Us</a></li>
    </ul>
  </nav>
  <p>Newsletter</p>
  <input type="email" autocomplete="email" />
  <button type="submit">Send</button>
  <hr />
  <p>@ 2022 Nguli<span>&#174;</span> Global Inc.</p>
  <ul>
    <li><a href="">Facebook</a></li>
    <li><a href="">LinkedIn</a></li>
    <li><a href="">Twiter</a></li>
    <li><a href="">Youtube</a></li>
    <li><a href="">Instagram</a></li>
  </ul>
  <a href="">Terms of Service</a>
  <a href="">Privacy Policy</a>
</footer>
